/* PRIMARY NAVIGATION */
.header--primary {
    display: table;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 10;

    .band__inner-container {
        @include padding(0);
        display: table;
    }

    .header--primary__app-logo-container {
        @include padding(1, left);
        @include padding(1, right);
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 1px;
        white-space: nowrap;
    }

    .header--primary__company-logo-container {
        @extend .header--primary__app-logo-container;
        border-right: none !important;
    }

    ul {
        @extend %list--horizontal;
        @include margin(1, left);
        @include margin(1, right);
        float: left;

        &, li {
            @include margin(0, bottom);
        }

        a {
            @extend .display--inline;
            @include padding(1, top);
            @include padding(1, bottom);
            @include padding(0.5, left);
            @include padding(0.5, right);
            border-bottom-width: 0;

            &.active {
                border-bottom-width: 5px;
                font-weight: bold;
            }
        }
    }
}

.header--primary--light {
    background-color: color('grey', 1);
    border-bottom: 1px solid color('grey', 3);

    .header--primary__app-logo-container {
        border-right: 1px solid color('grey', 3);
    }

    .header--primary__company-logo-container {
        background-color: color('grey', 3);
    }
}

.header--primary--dark {
    background-color: color('grey', 6);

    .header--primary__app-logo-container {
        background-color: color('red', 'brand');
    }

    .header--primary__company-logo-container {
        background-color: color('grey', 5);
    }

    ul {
        a {
            color: color('white');
        }
    }
}

/* SECONDARY NAVIGATION */
.header--secondary {
    border-bottom: 4px solid color('grey', 2);
    overflow: visible;

    .band__inner-container {
        @include padding(0);
        position: relative;
    }

    ul {
        @extend %list--horizontal;
        position: relative;
        top: 4px;

        &, li {
            @include margin(0, bottom);
        }

        a {
            @extend .display--inline;
            @include padding(1);
            @include padding(0.5, top);
            @include padding(0.5, bottom);
            @include font-size(13px);
            border-bottom-color: transparent;
            border-bottom-width: 4px;
            text-transform: uppercase;

            &.active {
                border-bottom-color: $link-border-color;
                font-weight: bold;
            }
        }
    }
}
